<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="style.css">
    <style>
  .btn {
  background-color: #FFA726;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #004D40;
  color: white;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.header-img {
  width: 0%;
  height: 400px;
  background: url('    ');
  background-size: cover;
}







</style>
  </head>
  <body>
<div class="header">
  <h1>Read Space </h1>
  <p>made by Hala.H</p>
   
 
   <!-- <div class="header-img"></div> -->


<center>
<button class="btn"> <h1>  State your name ! </h1>
    <h1>we don't let strangers in ;) </h1>
		<form action='/' method="post">
		<input type="text" name="username"/>
    <br>
    <br>
		<input type="submit" name="Get me in"/> </a>
		</form> </button>

    <br>
    <br>




		<p> for any help feel free to contact me on : 0544262800 </p>


    <br>
    <br><br>
    <br>
		
 

  </body>
</html>   